<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if accepted?(current_user.id, @room.id) %>
  <h1><%= @room.name %>へようこそ！</h1>
<% else %>
  <p><%= @room.name %>への参加が許可されていません。</p>
  <p>参加しますか？</p>
  <%= link_to '参加', "/rooms/#{@room.id}/user", method: :post %>
<% end %>
